.generationContainer {
    position: fixed;
    background-color: rgba(000, 000, 000, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    /* transition: all 4s ease-in; */
    /* transition-delay: 0.5s; */
    transform: scale(0);
}

.generationContainer.active {
    transform: scale(1);
}

.generationSection {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 10px 4px 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

@media screen and (min-width: 768px) {
    .generationSection {
        height: 320px;
    }
}

.generationSection::before {
    content: "";
    position: absolute;
    top: 14px;
    border-radius: 8px;
    height: 1.5px;
    width: 20%;
    background-color: #d4d4d4;
}

@media screen and (min-wdith: 768px) {
    .generationSection article {
        padding: 0 20px;
    }
}
/* .generationSection article::-webkit-scrollbar {
    display: none;
} */

.generationCard {
    position: relative;
    overflow: hidden;
    height: 95px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.4) 100%
    );
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

    padding: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.generationCard:hover,
.generationCard:focus {
    transform: scale(0.9);
}

.generationPoke {
    opacity: 0.15;
    width: 70px;
    position: absolute;
    right: -6px;
    bottom: -10px;
}

@media (min-width: 768px) {
    .generationSection::before {
        width: 8%;
    }

    .generationCard {
        height: 125px;
    }
}

@media (min-width: 1024px) {
    .generationCard {
        height: 145px;
    }
}
