.pokedex {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f4f5f4;
}

@media screen and (min-width: 768px) {
    .pokedex {
        width: 40%;
        margin: 0 auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

.pokeBg {
    position: absolute;
    right: -70px;
    top: -40px;
    opacity: 0.1;
}

.pokemonCard {
    cursor: pointer;
    z-index: inherit;
    width: 100%;
    height: 100%;
    max-width: 230px;
    max-height: 150px;
    border-radius: 12px;
    padding: 14px 0 8px 12px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.pokemonCard h3 {
    opacity: 0.55;
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
}

.pokemonImg {
    width: 100%;
    height: auto;
    position: relative;
    right: 5px;
    bottom: -5px;
    /* transform: scale(1.2); */
}

.pokeBall {
    position: absolute;
    right: -18px;
    bottom: -20px;
    opacity: 0.2;
    transform: scale(1.3);
}

.typeName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.4) 100%
    );
    font-weight: 400;
    text-transform: capitalize;
    padding: 1.8px 0;
    font-size: 10px;
}

.pagination-btn {
    background-color: #333;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media only screen and (min-width: 766px) {
    .pokemonCard h3 {
        right: 14px;
        top: 8px;
        font-size: 16px;
    }

    .typeName {
        width: 80%;
        /* width: 75px; */
        width: 95px;
        height: 28px;
        font-size: 14px;
    }
}
